.mid, #mid{
    text-align: center;
    margin: auto auto auto;
}

.containter{
    width: 100%;

    
}

.sticky{
    top: 0;
    
    position: sticky;
    text-align: center;
    margin: auto auto auto;
    background-color: darkgray;
}

.box{
    height: 300pxs;
}

.maintext{
    font-size: 50px;
}

.drugs{
    display:inline-block;
}

.mids{
    text-align: center;
    margin-bottom: 50px;  
    margin-top: 50px;
}

.test{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
}

.first, .second, .third, .final{
    width: 200px;
    float: left;
}

#bottom{
width: 100%;
background-color: black !important;
display: flex;
position: absolute;
bottom: 0px;
}
.nava{
    color:whitesmoke;
    padding: 12px 15px;
    height: 100%;
    font-weight: 850;
    font-size: larger;
    
}  


nav{
    color:whitesmoke !important;
    background-color: black !important;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 10px;
    text-decoration: none;
}

.navanax{
    text-decoration: none;
    color:gray;
    padding: 12px 15px;
    height: 100%;
    font-weight: 850;
    font-size: larger;
    
}  

* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /*font-size: 16px;*/
    line-height: 1.5;
    /* outline: none;
    border: none;
    text-decoration: none; */
    margin: 0;
    padding: 0;
}

.navanax:hover {
    background-color: whitesmoke;
    color: black;
}

main{
    min-height: 100vh;
}

#shop{
    display: flex;
    flex-wrap: wrap;
}