
* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /*font-size: 16px;*/
    line-height: 1.5;
    /* outline: none;
    border: none;
    text-decoration: none; */
    margin: 0;
    padding: 0;
}
main{
    background-image: linear-gradient(lightblue, white);
}
.mid{
    text-align: center;
    margin: auto auto auto;
}
.title{
    text-align: center;
    margin: auto auto auto;
    width: 176px;
}

.box{
    padding: 200px;
    text-align: center;
    margin: auto auto auto;
}

.border{
    text-align: center;
    margin: auto auto auto;
    width: 250px;
    border-color: black;
    border-style: double;
}

.button{
    text-align: center;
    margin: auto auto auto;
    background-color: lightskyblue;
    border-color: lightskyblue;
    width: 200px;
    height: 50px;
}

.form{
    display: flex;
    justify-content: center;
    text-align: center;
}
#bottom{
    display: flex;
    position: fixed;
    bottom: 0;
    }
    
    .ball{
        text-align: center;
        margin-right: 30px;
    }
    
    #bottom{
        width: 100%;
        background-color: black !important;
        display: flex;
        position: absolute;
        bottom: 0px;
        }
        .nava{
            color:whitesmoke;
            padding: 12px 15px;
            height: 100%;
            font-weight: 850;
            font-size: larger;
            
        }  
        main{
            min-height: 100vh;
        }
        .navanax:hover {
            background-color: whitesmoke;
            color: black;
        }
        nav{
            color:whitesmoke !important;
            background-color: black !important;
            position: fixed;
            width: 100%;
            z-index: 1;
            padding: 10px;
            text-decoration: none;
        }
        
        .navanax{
            text-decoration: none;
            color:gray;
            padding: 12px 15px;
            height: 100%;
            font-weight: 850;
            font-size: larger;
            
        } 
 
        